<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SFTPClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.Media.UseLegacyTextRendering=false" />
	</runtime>
	<appSettings>
		<add key="IsSearchBoxVisible" value="true" />
		<add key="IsBreadcrumbVisible" value="true"/>
    <add key="IsSessionComboBoxVisible" value="true" />
    <add key="ThemeColor" value="#3393df"/>
    <add key="IsSessionComboBoxVisible" value="true" />
    <add key="TextColorBrush" value="Black" /> 

  </appSettings>
 <userSettings>
  <SFTPClient.Settings>
   <setting name="Language" serializeAs="String">
    <value>en</value>
   </setting>
  </SFTPClient.Settings>
 </userSettings>
</configuration>
